html, body, header, nav, main, section, article, table, aside, footer, , div, h1, h2, h3, h4, h5, h6 {
    /**  */
    box-sizing: border-box;
}
html, body {
    -webkit-display: block;
    display: block;
    width: 100%;
    height: 100%;
    /** begin html style adapted from https://vasilis.nl/nerd/weird-62-5-antipattern/ */
    line-height: 1.414;
    margin: 0;
    border: 0;
    padding: 0;
    background: auto;
    font-family: serif, sans-serif, monospace;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1, "liga" on, "dlig" on;
    -moz-font-feature-settings: "kern" 1, "liga" on, "dlig" on;
    font-feature-settings: "kern" 1, "liga" on, "dlig" on;
    -webkit-font-size-adjust: 100%;
    -moz-font-size-adjust: 100%;
    font-size-adjust: 100%;
    /** end appropriated and slightly adapted html style */
}
header, nav, main, section, article, aside, footer, h1, h2, h3, h4, h5, h6 {
    /**  */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
header, nav, footer {
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: column wrap;
}
header, nav, main, section, article, aside, footer, div, h1, h2, h3, h4, h5, h6 {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    -webkit-flex-pack: center;
    -moz-flex-pack: center;
    -ms-flex-pack: center;
    flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-line-pack: distribute;
    -moz-flex-line-pack: distribute;
    -ms-flex-line-pack: distribute;
    flex-line-pack: distribute;
    -webkit-align-content: space-around;
    align-content: space-around;
    -webkit-flex-item-align: center;
    -moz-flex-item-align: center;
    -ms-flex-item-align: center;
    flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
body {
    /** */
    position: absolute;
    top: 0;
}
body, header, nav, main, section, article, aside, footer {
    width: 100%;
    margin: 0;
    padding: 0;
}
main, section, article, aside, footer {
    min-height: 2em;
}
body {
    /** */
}
header {
    /** */
}
nav {
    /** */
}
main {
    /** */
}
section {
    /** */
}
article {
    /** */
}
table {
    /** */
}
colgroup {
    /**  */
}
col {}
tr {
    /**  */
}
td {
    /**  */
}
aside {
    /** */
}
footer {
    /** */
}

/**

selector {

    tblr (box offsets if 'position' is other thn static relative  margin edge of element): <length> | <percentage> | auto | inherit;
}

*/

h1, h2, h3, h4, h5, h6 {
    position: relative;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-bottom: 0.15625em;
}
h1 {
    line-height: .75em;
    /*min-height: */
    margin-top: 0.15625em;
}
.header-borderline-black {
    min-width: 20em;
    min-height: 2.5em;
    /*margin: 0;
    padding: 0;*/
    border: 0.0625rem solid black;
    border-collapse: collapse;
    /*width: 100%;*/
    white-space: wrap;
}
.borderline-black {
    border: 0.0625rem solid black;
    border-collapse: collapse;
}
.terminal-box-style {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-box-pack: start;
    box-pack: start;
    -webkit-flex-pack: start;
    -moz-flex-pack: start;
    -ms-flex-pack: start;
    flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-line-pack: start;
    -moz-flex-line-pack: start;
    -ms-flex-line-pack: start;
    flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    border: 0.0625em solid Gainsboro;
    /*border: 0.0625em solid black;*/
    max-width: 19.375em;
    max-height: 10rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.15625em;
    /*margin-left: 0.25em;*/
    margin-right: 0;
    padding-right: 0;
    /*overflow-x: auto;
    overflow-y: auto;*/
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.terminal-box-style:hover {
    max-width: 100%;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.table-style {
    /**  */
    display: table;
    table-layout: auto;
    width: 19.375em;
}
.row-odd {
    /**  */
}
.row-even {
    /**  */
}
.cell {
    /**  */
}

/*
* terminal <ol> style adapted <ol> style appropriated from
*
* http://stackoverflow.com/questions/11946098/how-to-remove-dot-after-number-in-ordered-list-items-in-ol-li
*
*/

.terminal-ol {
    /** <ol> style */
    counter-reset: item;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.terminal-li {
    /** <li> style */
    min-width: 2.5em;
    text-align: right;
    font-family: 'Courier New';
    font-weight: 900;
}
.terminal-li::before {
    /** li:before style */
    content: counter(item) "   ";
    counter-increment: item;
    text-align: right;
}

/**
*
* End of appropriation
*
*/
