html, body, header, nav, main, section, article, table, aside, footer,, div, h1, h2, h3, h4, h5, h6 {

    /**  */
    box-sizing: border-box;

}
html, body {
    -webkit-display: block;
    display: block;
    width: 100%;
    height: 100%;
    /** begin html style adapted from https://vasilis.nl/nerd/weird-62-5-antipattern/ */
    line-height: 1.414;
    margin: 0;
    border: 0;
    padding: 0;
    background: auto;
    font-family: serif, sans-serif, monospace;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1, "liga" on, "dlig" on;
    -moz-font-feature-settings: "kern" 1, "liga" on, "dlig" on;
    font-feature-settings: "kern" 1, "liga" on, "dlig" on;
    -webkit-font-size-adjust: 100%;
    -moz-font-size-adjust: 100%;
    font-size-adjust: 100%;
    /** end appropriated and slightly adapted html style */
body, header, nav, footer {
    /**  */
    display: flex;
}
main, section, article, aside {
    /**  */
    display: inline-flex;
}
header, nav, main, section, article, table, aside, footer, div {
    /**  */
    position: relative;
}

/**

selector {

    tblr (box offsets if 'position' is other thn static relative  margin edge of element): <length> | <percentage> | auto | inherit;
}

*/

body, header, nav, main, section, aside, footer {
    /** */

    width: 100%
}



body {
    /** */
}
header {
    /** */
}
nav {
    /** */
}
main {
    /** */
}
section {
    /** */
}
article {
    /** */
}
table {
    /** */
}

colgroup {

    /**  */
}

col {

}

tr {

    /**  */

}

td {

    /**  */

}

aside {
    /** */
}
footer {
    /** */
}
